/* small-cactus */
.small-cactus {
  position: absolute;
  width: 90px;
  height: 63px;
  bottom: 50px;
  &.first {
    left: 800px;
  }
  &.second {
    left: 2400px;
  }
  &.third {
    left: 4000px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    transform: scale(0.15, 0.15);
    box-shadow:
      60px 0 $black,
      70px 0 $black,
      80px 0 $black,
      90px 0 $black,
      100px 0 $black,
      250px 0 $black,
      260px 0 $black,
      270px 0 $black,
      280px 0 $black,
      290px 0 $black,
      440px 0 $black,
      450px 0 $black,
      460px 0 $black,
      470px 0 $black,
      480px 0 $black,

      50px 10px $black,
      60px 10px $black,
      70px 10px $black,
      80px 10px $black,
      90px 10px $black,
      100px 10px $black,
      110px 10px $black,
      240px 10px $black,
      250px 10px $black,
      260px 10px $black,
      270px 10px $black,
      280px 10px $black,
      290px 10px $black,
      300px 10px $black,
      430px 10px $black,
      440px 10px $black,
      450px 10px $black,
      460px 10px $black,
      470px 10px $black,
      480px 10px $black,
      490px 10px $black,

      50px 20px $black,
      60px 20px $black,
      70px 20px $black,
      80px 20px $black,
      90px 20px $black,
      100px 20px $black,
      110px 20px $black,
      240px 20px $black,
      250px 20px $black,
      260px 20px $black,
      270px 20px $black,
      280px 20px $black,
      290px 20px $black,
      300px 20px $black,
      430px 20px $black,
      440px 20px $black,
      450px 20px $black,
      460px 20px $black,
      470px 20px $black,
      480px 20px $black,
      490px 20px $black,

      50px 30px $black,
      60px 30px $black,
      70px 30px $black,
      80px 30px $black,
      90px 30px $black,
      100px 30px $black,
      110px 30px $black,
      240px 30px $black,
      250px 30px $black,
      260px 30px $black,
      270px 30px $black,
      280px 30px $black,
      290px 30px $black,
      300px 30px $black,
      430px 30px $black,
      440px 30px $black,
      450px 30px $black,
      460px 30px $black,
      470px 30px $black,
      480px 30px $black,
      490px 30px $black,

      50px 40px $black,
      60px 40px $black,
      70px 40px $black,
      80px 40px $black,
      90px 40px $black,
      100px 40px $black,
      110px 40px $black,
      200px 40px $black,
      240px 40px $black,
      250px 40px $black,
      260px 40px $black,
      270px 40px $black,
      280px 40px $black,
      290px 40px $black,
      300px 40px $black,
      390px 40px $black,
      430px 40px $black,
      440px 40px $black,
      450px 40px $black,
      460px 40px $black,
      470px 40px $black,
      480px 40px $black,
      490px 40px $black,

      50px 50px $black,
      60px 50px $black,
      70px 50px $black,
      80px 50px $black,
      90px 50px $black,
      100px 50px $black,
      110px 50px $black,
      190px 50px $black,
      200px 50px $black,
      210px 50px $black,
      240px 50px $black,
      250px 50px $black,
      260px 50px $black,
      270px 50px $black,
      280px 50px $black,
      290px 50px $black,
      300px 50px $black,
      380px 50px $black,
      390px 50px $black,
      400px 50px $black,
      430px 50px $black,
      440px 50px $black,
      450px 50px $black,
      460px 50px $black,
      470px 50px $black,
      480px 50px $black,
      490px 50px $black,

      50px 60px $black,
      60px 60px $black,
      70px 60px $black,
      80px 60px $black,
      90px 60px $black,
      100px 60px $black,
      110px 60px $black,
      150px 60px $black,
      190px 60px $black,
      200px 60px $black,
      210px 60px $black,
      240px 60px $black,
      250px 60px $black,
      260px 60px $black,
      270px 60px $black,
      280px 60px $black,
      290px 60px $black,
      300px 60px $black,
      380px 60px $black,
      390px 60px $black,
      400px 60px $black,
      430px 60px $black,
      440px 60px $black,
      450px 60px $black,
      460px 60px $black,
      470px 60px $black,
      480px 60px $black,
      490px 60px $black,
      530px 60px $black,

      50px 70px $black,
      60px 70px $black,
      70px 70px $black,
      80px 70px $black,
      90px 70px $black,
      100px 70px $black,
      110px 70px $black,
      140px 70px $black,
      150px 70px $black,
      160px 70px $black,
      190px 70px $black,
      200px 70px $black,
      210px 70px $black,
      240px 70px $black,
      250px 70px $black,
      260px 70px $black,
      270px 70px $black,
      280px 70px $black,
      290px 70px $black,
      300px 70px $black,
      380px 70px $black,
      390px 70px $black,
      400px 70px $black,
      430px 70px $black,
      440px 70px $black,
      450px 70px $black,
      460px 70px $black,
      470px 70px $black,
      480px 70px $black,
      490px 70px $black,
      520px 70px $black,
      530px 70px $black,
      540px 70px $black,

      50px 80px $black,
      60px 80px $black,
      70px 80px $black,
      80px 80px $black,
      90px 80px $black,
      100px 80px $black,
      110px 80px $black,
      140px 80px $black,
      150px 80px $black,
      160px 80px $black,
      190px 80px $black,
      200px 80px $black,
      210px 80px $black,
      240px 80px $black,
      250px 80px $black,
      260px 80px $black,
      270px 80px $black,
      280px 80px $black,
      290px 80px $black,
      300px 80px $black,
      380px 80px $black,
      390px 80px $black,
      400px 80px $black,
      430px 80px $black,
      440px 80px $black,
      450px 80px $black,
      460px 80px $black,
      470px 80px $black,
      480px 80px $black,
      490px 80px $black,
      520px 80px $black,
      530px 80px $black,
      540px 80px $black,

      50px 90px $black,
      60px 90px $black,
      70px 90px $black,
      80px 90px $black,
      90px 90px $black,
      100px 90px $black,
      110px 90px $black,
      140px 90px $black,
      150px 90px $black,
      160px 90px $black,
      190px 90px $black,
      200px 90px $black,
      210px 90px $black,
      240px 90px $black,
      250px 90px $black,
      260px 90px $black,
      270px 90px $black,
      280px 90px $black,
      290px 90px $black,
      300px 90px $black,
      380px 90px $black,
      390px 90px $black,
      400px 90px $black,
      430px 90px $black,
      440px 90px $black,
      450px 90px $black,
      460px 90px $black,
      470px 90px $black,
      480px 90px $black,
      490px 90px $black,
      520px 90px $black,
      530px 90px $black,
      540px 90px $black,

      50px 100px $black,
      60px 100px $black,
      70px 100px $black,
      80px 100px $black,
      90px 100px $black,
      100px 100px $black,
      110px 100px $black,
      140px 100px $black,
      150px 100px $black,
      160px 100px $black,
      190px 100px $black,
      200px 100px $black,
      210px 100px $black,
      240px 100px $black,
      250px 100px $black,
      260px 100px $black,
      270px 100px $black,
      280px 100px $black,
      290px 100px $black,
      300px 100px $black,
      340px 100px $black,
      380px 100px $black,
      390px 100px $black,
      400px 100px $black,
      430px 100px $black,
      440px 100px $black,
      450px 100px $black,
      460px 100px $black,
      470px 100px $black,
      480px 100px $black,
      490px 100px $black,
      520px 100px $black,
      530px 100px $black,
      540px 100px $black,

      50px 110px $black,
      60px 110px $black,
      70px 110px $black,
      80px 110px $black,
      90px 110px $black,
      100px 110px $black,
      110px 110px $black,
      140px 110px $black,
      150px 110px $black,
      160px 110px $black,
      190px 110px $black,
      200px 110px $black,
      210px 110px $black,
      240px 110px $black,
      250px 110px $black,
      260px 110px $black,
      270px 110px $black,
      280px 110px $black,
      290px 110px $black,
      300px 110px $black,
      330px 110px $black,
      340px 110px $black,
      350px 110px $black,
      380px 110px $black,
      390px 110px $black,
      400px 110px $black,
      430px 110px $black,
      440px 110px $black,
      450px 110px $black,
      460px 110px $black,
      470px 110px $black,
      480px 110px $black,
      490px 110px $black,
      520px 110px $black,
      530px 110px $black,
      540px 110px $black,

      50px 120px $black,
      60px 120px $black,
      70px 120px $black,
      80px 120px $black,
      90px 120px $black,
      100px 120px $black,
      110px 120px $black,
      140px 120px $black,
      150px 120px $black,
      160px 120px $black,
      190px 120px $black,
      200px 120px $black,
      210px 120px $black,
      240px 120px $black,
      250px 120px $black,
      260px 120px $black,
      270px 120px $black,
      280px 120px $black,
      290px 120px $black,
      300px 120px $black,
      330px 120px $black,
      340px 120px $black,
      350px 120px $black,
      380px 120px $black,
      390px 120px $black,
      400px 120px $black,
      430px 120px $black,
      440px 120px $black,
      450px 120px $black,
      460px 120px $black,
      470px 120px $black,
      480px 120px $black,
      490px 120px $black,
      520px 120px $black,
      530px 120px $black,
      540px 120px $black,

      10px 130px $black,
      50px 130px $black,
      60px 130px $black,
      70px 130px $black,
      80px 130px $black,
      90px 130px $black,
      100px 130px $black,
      110px 130px $black,
      140px 130px $black,
      150px 130px $black,
      160px 130px $black,
      190px 130px $black,
      200px 130px $black,
      210px 130px $black,
      240px 130px $black,
      250px 130px $black,
      260px 130px $black,
      270px 130px $black,
      280px 130px $black,
      290px 130px $black,
      300px 130px $black,
      330px 130px $black,
      340px 130px $black,
      350px 130px $black,
      380px 130px $black,
      390px 130px $black,
      400px 130px $black,
      430px 130px $black,
      440px 130px $black,
      450px 130px $black,
      460px 130px $black,
      470px 130px $black,
      480px 130px $black,
      490px 130px $black,
      520px 130px $black,
      530px 130px $black,
      540px 130px $black,

      0 140px $black,
      10px 140px $black,
      20px 140px $black,
      50px 140px $black,
      60px 140px $black,
      70px 140px $black,
      80px 140px $black,
      90px 140px $black,
      100px 140px $black,
      110px 140px $black,
      140px 140px $black,
      150px 140px $black,
      160px 140px $black,
      190px 140px $black,
      200px 140px $black,
      210px 140px $black,
      240px 140px $black,
      250px 140px $black,
      260px 140px $black,
      270px 140px $black,
      280px 140px $black,
      290px 140px $black,
      300px 140px $black,
      330px 140px $black,
      340px 140px $black,
      350px 140px $black,
      380px 140px $black,
      390px 140px $black,
      400px 140px $black,
      430px 140px $black,
      440px 140px $black,
      450px 140px $black,
      460px 140px $black,
      470px 140px $black,
      480px 140px $black,
      490px 140px $black,
      520px 140px $black,
      530px 140px $black,
      540px 140px $black,

      0 150px $black,
      10px 150px $black,
      20px 150px $black,
      50px 150px $black,
      60px 150px $black,
      70px 150px $black,
      80px 150px $black,
      90px 150px $black,
      100px 150px $black,
      110px 150px $black,
      140px 150px $black,
      150px 150px $black,
      160px 150px $black,
      190px 150px $black,
      200px 150px $black,
      210px 150px $black,
      240px 150px $black,
      250px 150px $black,
      260px 150px $black,
      270px 150px $black,
      280px 150px $black,
      290px 150px $black,
      300px 150px $black,
      330px 150px $black,
      340px 150px $black,
      350px 150px $black,
      380px 150px $black,
      390px 150px $black,
      400px 150px $black,
      430px 150px $black,
      440px 150px $black,
      450px 150px $black,
      460px 150px $black,
      470px 150px $black,
      480px 150px $black,
      490px 150px $black,
      520px 150px $black,
      530px 150px $black,
      540px 150px $black,

      0 160px $black,
      10px 160px $black,
      20px 160px $black,
      50px 160px $black,
      60px 160px $black,
      70px 160px $black,
      80px 160px $black,
      90px 160px $black,
      100px 160px $black,
      110px 160px $black,
      140px 160px $black,
      150px 160px $black,
      160px 160px $black,
      190px 160px $black,
      200px 160px $black,
      210px 160px $black,
      240px 160px $black,
      250px 160px $black,
      260px 160px $black,
      270px 160px $black,
      280px 160px $black,
      290px 160px $black,
      300px 160px $black,
      330px 160px $black,
      340px 160px $black,
      350px 160px $black,
      380px 160px $black,
      390px 160px $black,
      400px 160px $black,
      430px 160px $black,
      440px 160px $black,
      450px 160px $black,
      460px 160px $black,
      470px 160px $black,
      480px 160px $black,
      490px 160px $black,
      520px 160px $black,
      530px 160px $black,
      540px 160px $black,

      0 170px $black,
      10px 170px $black,
      20px 170px $black,
      50px 170px $black,
      60px 170px $black,
      70px 170px $black,
      80px 170px $black,
      90px 170px $black,
      100px 170px $black,
      110px 170px $black,
      140px 170px $black,
      150px 170px $black,
      160px 170px $black,
      190px 170px $black,
      200px 170px $black,
      210px 170px $black,
      240px 170px $black,
      250px 170px $black,
      260px 170px $black,
      270px 170px $black,
      280px 170px $black,
      290px 170px $black,
      300px 170px $black,
      330px 170px $black,
      340px 170px $black,
      350px 170px $black,
      380px 170px $black,
      390px 170px $black,
      400px 170px $black,
      430px 170px $black,
      440px 170px $black,
      450px 170px $black,
      460px 170px $black,
      470px 170px $black,
      480px 170px $black,
      490px 170px $black,
      520px 170px $black,
      530px 170px $black,
      540px 170px $black,

      0 180px $black,
      10px 180px $black,
      20px 180px $black,
      50px 180px $black,
      60px 180px $black,
      70px 180px $black,
      80px 180px $black,
      90px 180px $black,
      100px 180px $black,
      110px 180px $black,
      140px 180px $black,
      150px 180px $black,
      160px 180px $black,
      190px 180px $black,
      200px 180px $black,
      210px 180px $black,
      240px 180px $black,
      250px 180px $black,
      260px 180px $black,
      270px 180px $black,
      280px 180px $black,
      290px 180px $black,
      300px 180px $black,
      330px 180px $black,
      340px 180px $black,
      350px 180px $black,
      380px 180px $black,
      390px 180px $black,
      400px 180px $black,
      430px 180px $black,
      440px 180px $black,
      450px 180px $black,
      460px 180px $black,
      470px 180px $black,
      480px 180px $black,
      490px 180px $black,
      520px 180px $black,
      530px 180px $black,
      540px 180px $black,

      0 190px $black,
      10px 190px $black,
      20px 190px $black,
      50px 190px $black,
      60px 190px $black,
      70px 190px $black,
      80px 190px $black,
      90px 190px $black,
      100px 190px $black,
      110px 190px $black,
      120px 190px $black,
      130px 190px $black,
      140px 190px $black,
      150px 190px $black,
      160px 190px $black,
      190px 190px $black,
      200px 190px $black,
      210px 190px $black,
      240px 190px $black,
      250px 190px $black,
      260px 190px $black,
      270px 190px $black,
      280px 190px $black,
      290px 190px $black,
      300px 190px $black,
      330px 190px $black,
      340px 190px $black,
      350px 190px $black,
      380px 190px $black,
      390px 190px $black,
      400px 190px $black,
      430px 190px $black,
      440px 190px $black,
      450px 190px $black,
      460px 190px $black,
      470px 190px $black,
      480px 190px $black,
      490px 190px $black,
      520px 190px $black,
      530px 190px $black,
      540px 190px $black,

      0 200px $black,
      10px 200px $black,
      20px 200px $black,
      50px 200px $black,
      60px 200px $black,
      70px 200px $black,
      80px 200px $black,
      90px 200px $black,
      100px 200px $black,
      110px 200px $black,
      120px 200px $black,
      130px 200px $black,
      140px 200px $black,
      150px 200px $black,
      160px 200px $black,
      190px 200px $black,
      200px 200px $black,
      210px 200px $black,
      240px 200px $black,
      250px 200px $black,
      260px 200px $black,
      270px 200px $black,
      280px 200px $black,
      290px 200px $black,
      300px 200px $black,
      330px 200px $black,
      340px 200px $black,
      350px 200px $black,
      380px 200px $black,
      390px 200px $black,
      400px 200px $black,
      410px 200px $black,
      420px 200px $black,
      430px 200px $black,
      440px 200px $black,
      450px 200px $black,
      460px 200px $black,
      470px 200px $black,
      480px 200px $black,
      490px 200px $black,
      520px 200px $black,
      530px 200px $black,
      540px 200px $black,

      0 210px $black,
      10px 210px $black,
      20px 210px $black,
      50px 210px $black,
      60px 210px $black,
      70px 210px $black,
      80px 210px $black,
      90px 210px $black,
      100px 210px $black,
      110px 210px $black,
      120px 210px $black,
      130px 210px $black,
      140px 210px $black,
      150px 210px $black,
      190px 210px $black,
      200px 210px $black,
      210px 210px $black,
      240px 210px $black,
      250px 210px $black,
      260px 210px $black,
      270px 210px $black,
      280px 210px $black,
      290px 210px $black,
      300px 210px $black,
      330px 210px $black,
      340px 210px $black,
      350px 210px $black,
      390px 210px $black,
      400px 210px $black,
      410px 210px $black,
      420px 210px $black,
      430px 210px $black,
      440px 210px $black,
      450px 210px $black,
      460px 210px $black,
      470px 210px $black,
      480px 210px $black,
      490px 210px $black,
      520px 210px $black,
      530px 210px $black,
      540px 210px $black,

      0 220px $black,
      10px 220px $black,
      20px 220px $black,
      50px 220px $black,
      60px 220px $black,
      70px 220px $black,
      80px 220px $black,
      90px 220px $black,
      100px 220px $black,
      110px 220px $black,
      120px 220px $black,
      130px 220px $black,
      140px 220px $black,
      190px 220px $black,
      200px 220px $black,
      210px 220px $black,
      240px 220px $black,
      250px 220px $black,
      260px 220px $black,
      270px 220px $black,
      280px 220px $black,
      290px 220px $black,
      300px 220px $black,
      330px 220px $black,
      340px 220px $black,
      350px 220px $black,
      400px 220px $black,
      410px 220px $black,
      420px 220px $black,
      430px 220px $black,
      440px 220px $black,
      450px 220px $black,
      460px 220px $black,
      470px 220px $black,
      480px 220px $black,
      490px 220px $black,
      520px 220px $black,
      530px 220px $black,
      540px 220px $black,

      0 230px $black,
      10px 230px $black,
      20px 230px $black,
      50px 230px $black,
      60px 230px $black,
      70px 230px $black,
      80px 230px $black,
      90px 230px $black,
      100px 230px $black,
      110px 230px $black,
      190px 230px $black,
      200px 230px $black,
      210px 230px $black,
      240px 230px $black,
      250px 230px $black,
      260px 230px $black,
      270px 230px $black,
      280px 230px $black,
      290px 230px $black,
      300px 230px $black,
      330px 230px $black,
      340px 230px $black,
      350px 230px $black,
      430px 230px $black,
      440px 230px $black,
      450px 230px $black,
      460px 230px $black,
      470px 230px $black,
      480px 230px $black,
      490px 230px $black,
      500px 230px $black,
      510px 230px $black,
      520px 230px $black,
      530px 230px $black,
      540px 230px $black,

      0 240px $black,
      10px 240px $black,
      20px 240px $black,
      50px 240px $black,
      60px 240px $black,
      70px 240px $black,
      80px 240px $black,
      90px 240px $black,
      100px 240px $black,
      110px 240px $black,
      190px 240px $black,
      200px 240px $black,
      210px 240px $black,
      240px 240px $black,
      250px 240px $black,
      260px 240px $black,
      270px 240px $black,
      280px 240px $black,
      290px 240px $black,
      300px 240px $black,
      330px 240px $black,
      340px 240px $black,
      350px 240px $black,
      430px 240px $black,
      440px 240px $black,
      450px 240px $black,
      460px 240px $black,
      470px 240px $black,
      480px 240px $black,
      490px 240px $black,
      500px 240px $black,
      510px 240px $black,
      520px 240px $black,
      530px 240px $black,

      0 250px $black,
      10px 250px $black,
      20px 250px $black,
      50px 250px $black,
      60px 250px $black,
      70px 250px $black,
      80px 250px $black,
      90px 250px $black,
      100px 250px $black,
      110px 250px $black,
      200px 250px $black,
      210px 250px $black,
      220px 250px $black,
      230px 250px $black,
      240px 250px $black,
      250px 250px $black,
      260px 250px $black,
      270px 250px $black,
      280px 250px $black,
      290px 250px $black,
      300px 250px $black,
      330px 250px $black,
      340px 250px $black,
      350px 250px $black,
      430px 250px $black,
      440px 250px $black,
      450px 250px $black,
      460px 250px $black,
      470px 250px $black,
      480px 250px $black,
      490px 250px $black,
      500px 250px $black,
      510px 250px $black,
      520px 250px $black,

      0 260px $black,
      10px 260px $black,
      20px 260px $black,
      30px 260px $black,
      40px 260px $black,
      50px 260px $black,
      60px 260px $black,
      70px 260px $black,
      80px 260px $black,
      90px 260px $black,
      100px 260px $black,
      110px 260px $black,
      210px 260px $black,
      220px 260px $black,
      230px 260px $black,
      240px 260px $black,
      250px 260px $black,
      260px 260px $black,
      270px 260px $black,
      280px 260px $black,
      290px 260px $black,
      300px 260px $black,
      330px 260px $black,
      340px 260px $black,
      350px 260px $black,
      430px 260px $black,
      440px 260px $black,
      450px 260px $black,
      460px 260px $black,
      470px 260px $black,
      480px 260px $black,
      490px 260px $black,

      0 270px $black,
      10px 270px $black,
      20px 270px $black,
      30px 270px $black,
      40px 270px $black,
      50px 270px $black,
      60px 270px $black,
      70px 270px $black,
      80px 270px $black,
      90px 270px $black,
      100px 270px $black,
      110px 270px $black,
      220px 270px $black,
      230px 270px $black,
      240px 270px $black,
      250px 270px $black,
      260px 270px $black,
      270px 270px $black,
      280px 270px $black,
      290px 270px $black,
      300px 270px $black,
      330px 270px $black,
      340px 270px $black,
      350px 270px $black,
      430px 270px $black,
      440px 270px $black,
      450px 270px $black,
      460px 270px $black,
      470px 270px $black,
      480px 270px $black,
      490px 270px $black,

      10px 280px $black,
      20px 280px $black,
      30px 280px $black,
      40px 280px $black,
      50px 280px $black,
      60px 280px $black,
      70px 280px $black,
      80px 280px $black,
      90px 280px $black,
      100px 280px $black,
      110px 280px $black,
      240px 280px $black,
      250px 280px $black,
      260px 280px $black,
      270px 280px $black,
      280px 280px $black,
      290px 280px $black,
      300px 280px $black,
      330px 280px $black,
      340px 280px $black,
      350px 280px $black,
      430px 280px $black,
      440px 280px $black,
      450px 280px $black,
      460px 280px $black,
      470px 280px $black,
      480px 280px $black,
      490px 280px $black,

      20px 290px $black,
      30px 290px $black,
      40px 290px $black,
      50px 290px $black,
      60px 290px $black,
      70px 290px $black,
      80px 290px $black,
      90px 290px $black,
      100px 290px $black,
      110px 290px $black,
      240px 290px $black,
      250px 290px $black,
      260px 290px $black,
      270px 290px $black,
      280px 290px $black,
      290px 290px $black,
      300px 290px $black,
      310px 290px $black,
      320px 290px $black,
      330px 290px $black,
      340px 290px $black,
      350px 290px $black,
      430px 290px $black,
      440px 290px $black,
      450px 290px $black,
      460px 290px $black,
      470px 290px $black,
      480px 290px $black,
      490px 290px $black,

      50px 300px $black,
      60px 300px $black,
      70px 300px $black,
      80px 300px $black,
      90px 300px $black,
      100px 300px $black,
      110px 300px $black,
      240px 300px $black,
      250px 300px $black,
      260px 300px $black,
      270px 300px $black,
      280px 300px $black,
      290px 300px $black,
      300px 300px $black,
      310px 300px $black,
      320px 300px $black,
      330px 300px $black,
      340px 300px $black,
      430px 300px $black,
      440px 300px $black,
      450px 300px $black,
      460px 300px $black,
      470px 300px $black,
      480px 300px $black,
      490px 300px $black,

      50px 310px $black,
      60px 310px $black,
      70px 310px $black,
      80px 310px $black,
      90px 310px $black,
      100px 310px $black,
      110px 310px $black,
      240px 310px $black,
      250px 310px $black,
      260px 310px $black,
      270px 310px $black,
      280px 310px $black,
      290px 310px $black,
      300px 310px $black,
      310px 310px $black,
      320px 310px $black,
      330px 310px $black,
      430px 310px $black,
      440px 310px $black,
      450px 310px $black,
      460px 310px $black,
      470px 310px $black,
      480px 310px $black,
      490px 310px $black,

      50px 320px $black,
      60px 320px $black,
      70px 320px $black,
      80px 320px $black,
      90px 320px $black,
      100px 320px $black,
      110px 320px $black,
      240px 320px $black,
      250px 320px $black,
      260px 320px $black,
      270px 320px $black,
      280px 320px $black,
      290px 320px $black,
      300px 320px $black,
      430px 320px $black,
      440px 320px $black,
      450px 320px $black,
      460px 320px $black,
      470px 320px $black,
      480px 320px $black,
      490px 320px $black,

      50px 330px $black,
      60px 330px $black,
      70px 330px $black,
      80px 330px $black,
      90px 330px $black,
      100px 330px $black,
      110px 330px $black,
      240px 330px $black,
      250px 330px $black,
      260px 330px $black,
      270px 330px $black,
      280px 330px $black,
      290px 330px $black,
      300px 330px $black,
      430px 330px $black,
      440px 330px $black,
      450px 330px $black,
      460px 330px $black,
      470px 330px $black,
      480px 330px $black,
      490px 330px $black,

      50px 340px $black,
      60px 340px $black,
      70px 340px $black,
      80px 340px $black,
      90px 340px $black,
      100px 340px $black,
      110px 340px $black,
      240px 340px $black,
      250px 340px $black,
      260px 340px $black,
      270px 340px $black,
      280px 340px $black,
      290px 340px $black,
      300px 340px $black,
      430px 340px $black,
      440px 340px $black,
      450px 340px $black,
      460px 340px $black,
      470px 340px $black,
      480px 340px $black,
      490px 340px $black,

      50px 350px $black,
      60px 350px $black,
      70px 350px $black,
      80px 350px $black,
      90px 350px $black,
      100px 350px $black,
      110px 350px $black,
      240px 350px $black,
      250px 350px $black,
      260px 350px $black,
      270px 350px $black,
      280px 350px $black,
      290px 350px $black,
      300px 350px $black,
      430px 350px $black,
      440px 350px $black,
      450px 350px $black,
      460px 350px $black,
      470px 350px $black,
      480px 350px $black,
      490px 350px $black,

      50px 360px $black,
      60px 360px $black,
      70px 360px $black,
      80px 360px $black,
      90px 360px $black,
      100px 360px $black,
      110px 360px $black,
      240px 360px $black,
      250px 360px $black,
      260px 360px $black,
      270px 360px $black,
      280px 360px $black,
      290px 360px $black,
      300px 360px $black,
      430px 360px $black,
      440px 360px $black,
      450px 360px $black,
      460px 360px $black,
      470px 360px $black,
      480px 360px $black,
      490px 360px $black,

      50px 370px $black,
      60px 370px $black,
      70px 370px $black,
      80px 370px $black,
      90px 370px $black,
      100px 370px $black,
      110px 370px $black,
      240px 370px $black,
      250px 370px $black,
      260px 370px $black,
      270px 370px $black,
      280px 370px $black,
      290px 370px $black,
      300px 370px $black,
      430px 370px $black,
      440px 370px $black,
      450px 370px $black,
      460px 370px $black,
      470px 370px $black,
      480px 370px $black,
      490px 370px $black,

      50px 380px $black,
      60px 380px $black,
      70px 380px $black,
      80px 380px $black,
      90px 380px $black,
      100px 380px $black,
      110px 380px $black,
      240px 380px $black,
      250px 380px $black,
      260px 380px $black,
      270px 380px $black,
      280px 380px $black,
      290px 380px $black,
      300px 380px $black,
      430px 380px $black,
      440px 380px $black,
      450px 380px $black,
      460px 380px $black,
      470px 380px $black,
      480px 380px $black,
      490px 380px $black;
  }
}

/* big-cactus */
.big-cactus {
  position: absolute;
  width: 50px;
  height: 102px;
  bottom: 50px;
  &.first {
    left: 1600px;
  }
  &.second {
    left: 3200px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    transform: scale(0.25, 0.25);
    box-shadow:
      60px 0 $black,
      70px 0 $black,
      80px 0 $black,
      90px 0 $black,
      100px 0 $black,

      50px 10px $black,
      60px 10px $black,
      70px 10px $black,
      80px 10px $black,
      90px 10px $black,
      100px 10px $black,
      110px 10px $black,

      50px 20px $black,
      60px 20px $black,
      70px 20px $black,
      80px 20px $black,
      90px 20px $black,
      100px 20px $black,
      110px 20px $black,

      50px 30px $black,
      60px 30px $black,
      70px 30px $black,
      80px 30px $black,
      90px 30px $black,
      100px 30px $black,
      110px 30px $black,

      50px 40px $black,
      60px 40px $black,
      70px 40px $black,
      80px 40px $black,
      90px 40px $black,
      100px 40px $black,
      110px 40px $black,

      50px 50px $black,
      60px 50px $black,
      70px 50px $black,
      80px 50px $black,
      90px 50px $black,
      100px 50px $black,
      110px 50px $black,

      50px 60px $black,
      60px 60px $black,
      70px 60px $black,
      80px 60px $black,
      90px 60px $black,
      100px 60px $black,
      110px 60px $black,

      50px 70px $black,
      60px 70px $black,
      70px 70px $black,
      80px 70px $black,
      90px 70px $black,
      100px 70px $black,
      110px 70px $black,
      150px 70px $black,

      50px 80px $black,
      60px 80px $black,
      70px 80px $black,
      80px 80px $black,
      90px 80px $black,
      100px 80px $black,
      110px 80px $black,
      140px 80px $black,
      150px 80px $black,
      160px 80px $black,

      10px 90px $black,
      50px 90px $black,
      60px 90px $black,
      70px 90px $black,
      80px 90px $black,
      90px 90px $black,
      100px 90px $black,
      110px 90px $black,
      140px 90px $black,
      150px 90px $black,
      160px 90px $black,

      0 100px $black,
      10px 100px $black,
      20px 100px $black,
      50px 100px $black,
      60px 100px $black,
      70px 100px $black,
      80px 100px $black,
      90px 100px $black,
      100px 100px $black,
      110px 100px $black,
      140px 100px $black,
      150px 100px $black,
      160px 100px $black,

      0 110px $black,
      10px 110px $black,
      20px 110px $black,
      50px 110px $black,
      60px 110px $black,
      70px 110px $black,
      80px 110px $black,
      90px 110px $black,
      100px 110px $black,
      110px 110px $black,
      140px 110px $black,
      150px 110px $black,
      160px 110px $black,

      0 120px $black,
      10px 120px $black,
      20px 120px $black,
      50px 120px $black,
      60px 120px $black,
      70px 120px $black,
      80px 120px $black,
      90px 120px $black,
      100px 120px $black,
      110px 120px $black,
      140px 120px $black,
      150px 120px $black,
      160px 120px $black,

      0 130px $black,
      10px 130px $black,
      20px 130px $black,
      50px 130px $black,
      60px 130px $black,
      70px 130px $black,
      80px 130px $black,
      90px 130px $black,
      100px 130px $black,
      110px 130px $black,
      140px 130px $black,
      150px 130px $black,
      160px 130px $black,

      0 140px $black,
      10px 140px $black,
      20px 140px $black,
      50px 140px $black,
      60px 140px $black,
      70px 140px $black,
      80px 140px $black,
      90px 140px $black,
      100px 140px $black,
      110px 140px $black,
      140px 140px $black,
      150px 140px $black,
      160px 140px $black,

      0 150px $black,
      10px 150px $black,
      20px 150px $black,
      50px 150px $black,
      60px 150px $black,
      70px 150px $black,
      80px 150px $black,
      90px 150px $black,
      100px 150px $black,
      110px 150px $black,
      140px 150px $black,
      150px 150px $black,
      160px 150px $black,

      0 160px $black,
      10px 160px $black,
      20px 160px $black,
      50px 160px $black,
      60px 160px $black,
      70px 160px $black,
      80px 160px $black,
      90px 160px $black,
      100px 160px $black,
      110px 160px $black,
      140px 160px $black,
      150px 160px $black,
      160px 160px $black,

      0 170px $black,
      10px 170px $black,
      20px 170px $black,
      50px 170px $black,
      60px 170px $black,
      70px 170px $black,
      80px 170px $black,
      90px 170px $black,
      100px 170px $black,
      110px 170px $black,
      140px 170px $black,
      150px 170px $black,
      160px 170px $black,

      0 180px $black,
      10px 180px $black,
      20px 180px $black,
      50px 180px $black,
      60px 180px $black,
      70px 180px $black,
      80px 180px $black,
      90px 180px $black,
      100px 180px $black,
      110px 180px $black,
      140px 180px $black,
      150px 180px $black,
      160px 180px $black,

      0 190px $black,
      10px 190px $black,
      20px 190px $black,
      50px 190px $black,
      60px 190px $black,
      70px 190px $black,
      80px 190px $black,
      90px 190px $black,
      100px 190px $black,
      110px 190px $black,
      140px 190px $black,
      150px 190px $black,
      160px 190px $black,

      0 200px $black,
      10px 200px $black,
      20px 200px $black,
      50px 200px $black,
      60px 200px $black,
      70px 200px $black,
      80px 200px $black,
      90px 200px $black,
      100px 200px $black,
      110px 200px $black,
      140px 200px $black,
      150px 200px $black,
      160px 200px $black,

      0 210px $black,
      10px 210px $black,
      20px 210px $black,
      50px 210px $black,
      60px 210px $black,
      70px 210px $black,
      80px 210px $black,
      90px 210px $black,
      100px 210px $black,
      110px 210px $black,
      140px 210px $black,
      150px 210px $black,
      160px 210px $black,

      0 220px $black,
      10px 220px $black,
      20px 220px $black,
      50px 220px $black,
      60px 220px $black,
      70px 220px $black,
      80px 220px $black,
      90px 220px $black,
      100px 220px $black,
      110px 220px $black,
      140px 220px $black,
      150px 220px $black,
      160px 220px $black,

      0 230px $black,
      10px 230px $black,
      20px 230px $black,
      50px 230px $black,
      60px 230px $black,
      70px 230px $black,
      80px 230px $black,
      90px 230px $black,
      100px 230px $black,
      110px 230px $black,
      140px 230px $black,
      150px 230px $black,
      160px 230px $black,

      0 240px $black,
      10px 240px $black,
      20px 240px $black,
      30px 240px $black,
      40px 240px $black,
      50px 240px $black,
      60px 240px $black,
      70px 240px $black,
      80px 240px $black,
      90px 240px $black,
      100px 240px $black,
      110px 240px $black,
      120px 240px $black,
      130px 240px $black,
      140px 240px $black,
      150px 240px $black,
      160px 240px $black,

      10px 250px $black,
      20px 250px $black,
      30px 250px $black,
      40px 250px $black,
      50px 250px $black,
      60px 250px $black,
      70px 250px $black,
      80px 250px $black,
      90px 250px $black,
      100px 250px $black,
      110px 250px $black,
      120px 250px $black,
      130px 250px $black,
      140px 250px $black,
      150px 250px $black,

      20px 260px $black,
      30px 260px $black,
      40px 260px $black,
      50px 260px $black,
      60px 260px $black,
      70px 260px $black,
      80px 260px $black,
      90px 260px $black,
      100px 260px $black,
      110px 260px $black,
      120px 260px $black,
      130px 260px $black,
      140px 260px $black,

      50px 270px $black,
      60px 270px $black,
      70px 270px $black,
      80px 270px $black,
      90px 270px $black,
      100px 270px $black,
      110px 270px $black,

      50px 280px $black,
      60px 280px $black,
      70px 280px $black,
      80px 280px $black,
      90px 280px $black,
      100px 280px $black,
      110px 280px $black,

      50px 290px $black,
      60px 290px $black,
      70px 290px $black,
      80px 290px $black,
      90px 290px $black,
      100px 290px $black,
      110px 290px $black,

      50px 300px $black,
      60px 300px $black,
      70px 300px $black,
      80px 300px $black,
      90px 300px $black,
      100px 300px $black,
      110px 300px $black,

      50px 310px $black,
      60px 310px $black,
      70px 310px $black,
      80px 310px $black,
      90px 310px $black,
      100px 310px $black,
      110px 310px $black,

      50px 320px $black,
      60px 320px $black,
      70px 320px $black,
      80px 320px $black,
      90px 320px $black,
      100px 320px $black,
      110px 320px $black,

      50px 330px $black,
      60px 330px $black,
      70px 330px $black,
      80px 330px $black,
      90px 330px $black,
      100px 330px $black,
      110px 330px $black,

      50px 340px $black,
      60px 340px $black,
      70px 340px $black,
      80px 340px $black,
      90px 340px $black,
      100px 340px $black,
      110px 340px $black,

      50px 350px $black,
      60px 350px $black,
      70px 350px $black,
      80px 350px $black,
      90px 350px $black,
      100px 350px $black,
      110px 350px $black,

      50px 360px $black,
      60px 360px $black,
      70px 360px $black,
      80px 360px $black,
      90px 360px $black,
      100px 360px $black,
      110px 360px $black,

      50px 370px $black,
      60px 370px $black,
      70px 370px $black,
      80px 370px $black,
      90px 370px $black,
      100px 370px $black,
      110px 370px $black,

      50px 380px $black,
      60px 380px $black,
      70px 380px $black,
      80px 380px $black,
      90px 380px $black,
      100px 380px $black,
      110px 380px $black;
  }
}
